<div mat-dialog-title>
	<div class="flex flex-items-center flex-gap-0-5">
		<div class="flex">
			<orc-network-connection-status [type]="data.type" [status]="data.status" size="lg"></orc-network-connection-status>
		</div>
		<div class="flex flex-column">
			<div class="title-l">{{ data.section | titlecase }} {{ data.type }} connection</div>
			<div class="font-size-xs orc-outline-color">{{ status_message() }}</div>
		</div>
	</div>
</div>

<mat-dialog-content>
	<div class="flex flex-items-center flex-gap-0-5 p-b-1" [style.max-width]="this.size() + 'px'">
		<orc-button-copy [text]="data.uri">
			<span class="mega-string">{{ data.uri }}</span>
		</orc-button-copy>
	</div>
	<orc-graphic-qr [data]="data.uri" [image]="qr_image()" [ecc]="ecc()" [size]="size()"></orc-graphic-qr>
	<div class="p-t-1 flex flex-gap-1 flex-items-center">
		<div class="flex flex-column flex-grow">
			<mat-slider class="w-full" [min]="ecc_min()" [max]="ecc_max" step="1" showTickMarks>
				<input matSliderThumb [value]="ecc_index()" (valueChange)="ecc_index.set($event)" />
			</mat-slider>
			<div class="font-size-xs orc-outline-color">Error correction: {{ ecc() | titlecase }}</div>
		</div>
		<mat-slide-toggle name="qr_logo" [checked]="show_image()" (change)="show_image.set($event.checked)">Logo</mat-slide-toggle>
	</div>
</mat-dialog-content>

<mat-dialog-actions>
	<button mat-stroked-button mat-dialog-close (click)="download()">Download</button>
	<button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
