@use 'molecule/molecule';

:host {
	@extend %flex;
	@extend %w-full;
	max-width: 40rem;
}

.docs-link-card {
	@extend %w-full;
}

.docs-link-card-content {
	@extend %flex;
	@extend %flex-items-start;
	@extend %flex-gap-1-5;
	@extend %p-t-1-5;
	@extend %p-b-1-5;
	@extend %p-l-1;
	@extend %p-r-1;
}

.docs-link-card-icon {
	@extend %flex;
	@extend %flex-items-center;
	@extend %flex-justify-center;
	@extend %orc-surface-container-high-bg;
	@extend %orc-corner-full;
	@extend %flex-shrink-0;
	height: 3rem;
	width: 3rem;
}

.docs-link-card-copy {
	@extend %flex;
	@extend %flex-column;
	@extend %flex-gap-1;
	@extend %flex-grow;
	min-width: 0;
}

.docs-link-button {
	align-self: flex-start;
	max-width: 100%;
}
