<div class="ai-input-container">
	<orc-ai-agent-chip [definition]="assistant_definition()" [display_mode]="icon_only() ? 'icon' : 'short'"></orc-ai-agent-chip>
	@if (!active_chat()) {
		<form class="ai-input-form" (keydown.enter)="onSubmit($event)">
			<textarea
				#inputEl
				rows="1"
				matInput
				[placeholder]="placeholder()"
				class="ai-input"
				[class.ai-input-empty]="!content()"
				[value]="content()"
				[disabled]="!model()"
				(input)="onInput($event)"
				[style.fontSize]="'smaller'"
				[formAutogrow]="true"
			></textarea>
		</form>
	} @else {
		<div class="ai-active-container orc-text-button">
			<div class="orc-animation-shimmer-text">Executing...</div>
		</div>
	}
</div>
