<orc-mint-subsection-config-form-method
	[nut]="nut()"
	[unit]="unit()"
	[method]="method()"
	[form_group]="form_group()"
	[locale]="locale()"
	[loading]="loading()"
	[quotes]="quotes()"
	(update)="update.emit($event)"
	(cancel)="cancel.emit($event)"
>
	<div class="flex flex-column p-l-1">
		<form [formGroup]="form_bolt11()" class="flex flex-items-center flex-gap-1">
			<mat-slide-toggle [formControlName]="toggle_control()" (change)="onToggle($event)" [name]="toggle_control()">
			</mat-slide-toggle>
			<div class="font-size-s">
				{{ toggle_control_name() }}
			</div>
			<button type="button" tabindex="-1" mat-icon-button class="orc-icon-button" (click)="help_status.set(!help_status())">
				<mat-icon class="orc-outline-color">info</mat-icon>
			</button>
		</form>
		<div class="orc-animation-expand-collapse" [class.animation-expanded]="help_status()">
			<div class="orc-animation-expand-collapse-inner">
				<div class="flex p-t-2 p-b-1">
					<orc-form-help-text class="orc-surface-container-high-bg">
						<div [innerHTML]="toggle_help_text()"></div>
					</orc-form-help-text>
				</div>
			</div>
		</div>
	</div>
</orc-mint-subsection-config-form-method>
