<div class="ecash-wallet-container" [class.desktop]="device_type() === 'desktop'">
	<orc-ecash-general-balance
		class="ecash-wallet-balance"
		[balances]="balances()"
		[mints]="mints()"
		[loading]="loading_balances()"
		[bitcoin_oracle_enabled]="bitcoin_oracle_enabled"
		[bitcoin_oracle_price]="bitcoin_oracle_price()"
	></orc-ecash-general-balance>
	<orc-ecash-general-actions
		class="ecash-wallet-actions"
		[can_issue]="can_issue()"
		[issue_blocked]="issue_blocked()"
		[device_type]="device_type()"
		(issue)="onIssue()"
	></orc-ecash-general-actions>
	<orc-ecash-general-mints
		class="ecash-wallet-mints"
		[mints]="mints()"
		[statuses]="mint_statuses()"
		[balances]="balances()"
		[loading]="loading_mints()"
		[loading_statuses]="loading_mint_statuses()"
	></orc-ecash-general-mints>
</div>
