<div class="bitcoin-oracle-disabled-container p-1">
	<orc-public-docs-link-card [router_link]="settings_link" link_title="Enable in App Settings">
		<mat-icon card-icon class="mat-symbol-outline">currency_bitcoin</mat-icon>
		<div card-title>Bitcoin Oracle Disabled</div>
		<div card-body>
			The Bitcoin Oracle derives price data from your node's on-chain history. Enable it from the
			<code class="orc-md-code">Bitcoin Oracle</code> toggle in App Settings to start collecting data.
		</div>
	</orc-public-docs-link-card>
</div>
